
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  height: 115vh;
  background-color: black;
}

header {
  height: 2.25vh;
  width: 70%;
  margin-top: 2.5%;
  display: flex;
  justify-content: space-evenly;
  margin: 3% auto 7% auto;
  align-items: center;
}

h1 {
  color: white;
  font-size: 3rem;
}

#h1One, #h1Two, #h1Three {
  text-align: center;
  font-size: 2.5rem;
}

#go {
  color: red;
  background: black;
  border-radius: 15%;
  font-size: 1.5rem;
}
p {
  text-align: center;
  color: white;
  font-size: 1.65rem;
  line-height: 2.25rem;
}

.carousel {
  width: 75vw;
  height: 75vh;
  position: relative;
  margin: auto;
  margin-top: 5%;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}
.slide[data-active] {
  opacity: 1;
}
.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 1.5rem;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.carousel-button.prev {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}

.main {
  height: 100vh;
  margin-top: -5%;
}

@media(max-width: 1350px) {
  header {
    display: flex;
    flex-direction: column;
    height: 12vh;
  }
  p {
    font-size: 1.35rem;
  line-height: 2rem;
  }
  .carousel {
    height: 60vh;
    width: 70vw;
  }
  input {
    margin: 1% 0;
  }
  h1 {
    font-size: 2.25rem;
  }
  #h1One, #h1Two, #h1Three {
    text-align: center;
    font-size: 1.75rem;
  }
  .main {
    margin: 1% auto;
  }
  #go {
    font-size: 1.25rem;
  }
}

@media(max-width: 750px) {
  header {
    display: flex;
    flex-direction: column;
    height: 12vh;
  }
  p {
    font-size: 1.35rem;
    line-height: 2rem;
  }
  .carousel {
    height: 40vh;
    width: 70vw;
  }
  input {
    margin: 1% 0;
  }
  h1 {
    font-size: 2.25rem;
  }
  #h1One, #h1Two, #h1Three {
    text-align: center;
    font-size: 1.75rem;
  }
  .main {
    margin: 1% auto;
  }
}

@media(max-width: 400px) {
  header {
    display: flex;
    flex-direction: column;
    height: 12vh;
  }
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .carousel {
    height: 40vh;
    width: 70vw;
  }
  input {
    margin: 1% 0;
  }
  h1 {
    font-size: 1.25rem;
  }
  #h1One, #h1Two, #h1Three {
    text-align: center;
    font-size: 1.75rem;
  }
  .main {
    margin: 1% auto;
  }
  #go {
    font-size: 1rem;
  }
}